body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

div#message-box {
  color: black;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

div#message-box.shrink {
  z-index: -10;
}

#command {
  padding: 0.2rem 0.5rem;
  border: 1px solid #D0D0D0;
  background-color: #E3E3E3;
  border-radius: 10px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

#top-message.move-up {
  color: grey;
  background-color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  text-align: left;
  font-size: 1rem;
}

#play-block {
  background-color: green;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
}

.img-block {
  height: 33vh;
  width: 100%;
  visibility: visible;
  visibility: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
}

.no-display {
  display: none;
}
